<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'ntgame/css/main.css' %}">
</head>

<body>

  <header>
    Header...
  </header>

  <div class="container-fluid">
    <div class="row">
      {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'login' %}">login</a>
      {% else %}
      <a href="{% url 'logout' %}">logout</a>
      {% endif %}
    </div>

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
      {% endblock %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>

  <footer>
      &copy; Paul Cooper
      <script>
          document.write(new Date().getFullYear());
      </script>
  </footer>

  <!-- I should really update the version of this @TODO -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>');</script>
  <script src="{% static 'ntgame/js/main.js' %}"></script>

</body>
</html>
