<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />

  <!-- jQuery is required -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
</head>

<body>

   <header uk-sticky>
      <div class="uk-section-secondary">
         <div class="uk-container-large uk-text-center">

            {% block quickstats %}
            <div id="quick-stats" class="uk-container-small uk-align-left">
               <span uk-icon="icon: nut"></span>
               <span uk-icon="icon: twitter"></span>
               <span uk-icon="icon: users"></span>
               <span uk-icon="icon: image"></span>
               <span uk-icon="icon: mail"></span>
            </div>
            {% endblock %}

            <span>Header...</span>

            <div id="user-box" class="uk-container-small uk-align-right">
               <span uk-icon="icon: user"></span>
               {{ user }}
               {% if user.is_anonymous %}
               <a href="{% url 'login' %}"
                  class="uk-icon-link"
                  uk-icon="icon: sign-in"></a>
               {% else %}
               <a href="{% url 'logout' %}"
                  class="uk-icon-link"
                  uk-icon="icon: sign-out"></a>
               {% endif %}
            </div>

         </div>
      </div>
   </header>

   <div class="uk-section uk-section-default">

      <div class="uk-container">
         <a href="#offcanvas-slide"
            class="uk-button uk-button-secondary uk-margin-small-right"
            uk-toggle>
               <span uk-icon="icon: menu"></span>
               Menu
         </a>

         <div class="uk-card uk-card-body uk-dark">
            {% block content %}
            {% endblock %}
            <hr class="uk-divider-icon">
         </div>

      </div>
   </div>

   <footer>
      &copy; Paul Cooper
      <script>
          document.write(new Date().getFullYear());
      </script>
   </footer>

<!-- offcanvas content -->
<div id="offcanvas-slide" uk-offcanvas>
   <div class="uk-offcanvas-bar">

      <ul class="uk-nav uk-nav-default">
         <li class="uk-active"><a href="#">Active</a></li>
         {% block active %}
         <li><a href="{% url 'index' %}">Home</a></li>
         {% endblock %}
         <li class="uk-nav-header">Header</li>
         <li><a href="{% url 'index' %}">Home</a></li>
         <li><a href="#">Item</a></li>
         <li class="uk-nav-divider"></li>
         <li><a href="#">Item</a></li>
      </ul>

   </div>
</div>

</body>
</html>
