{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Throne Room (in development)</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Add bootstrap css files -->
        <link rel="stylesheet" href="{% static 'ntgame/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'ntgame/css/normalize.css' %}">

        <!-- JS library for compatibility -->
        <script src="{% static 'ntgame/js/vendor/modernizr-2.6.2.min.js' %}"></script>

        <!-- Custom styles; targetted at this specific page -->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser.
            Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="wrapper">
               Header...
            </div>
        </header>

        <main>

          <div class="centre-viewport">

            <h4>Province Details</h4>

            <table id="province_details">
              <tr>
                <th>Province Name:</th>
                <td>{{ province.name }}</td>
                <th>Province Ruler:</th>
                <td>{{ province.ruler }}</td>
              </tr>
              <tr>
                <th>Peasants:</th>
                <td>{{ province.peasants }}</td>
                <th>Food:</th>
                <td>{{ province.food }}</td>
              </tr>
              <tr>
                <th>Mages:</th>
                <td>{{ province.mages }}</td>
                <th>Runes:</th>
                <td>{{ province.runes }}</td>
              </tr>
            </table>
          </div>

        </main>

        <footer>
            &copy; Paul Cooper
            <script>
                document.write(new Date().getFullYear());
            </script>
        </footer>

        <!-- I should really update the version of this @TODO -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>');</script>
        <script src="{% static 'ntgame/js/main.js' %}"></script>
    </body>
</html>
